CA_CN="VPN CA"
CA_ORG="Big Corp"
CA_DAYS=9999
SRV_CN=vpn.example.com
SRV_ORG="My Company"
SRV_DAYS=9999
AUTH="cert"
TEST_USER="test"
CLIENT_DAYS=9999
IPV4_NETWORK="192.168.199.0"
IPV4_NETMASK="255.255.255.0"
IPV4_DNS="8.8.8.8"
